<p id="notice"><%= notice %></p>

<h1>List of members</h1>
<div class ="table-responsive">
<table class = "table table-striped table-inverse">
  <thead class >
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th> Number add <th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr >
        <td><%= member.name %></td>
        <td><%= member.email %></td>
        <td><%= member.phone %></td>
        <td> <%=   %></td>
        <td>
          <%= link_to 'Show', member %>
          <%= link_to 'Edit', edit_member_path(member) %>
          <%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %>
         </td>


      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Member', new_member_path %>
